/*Default Styling included in mobile*/
body {
	font-family: arial;
	font-size: 14pt;
}

h2 {
	color: #7d97ad;
	width: 100%;
}

header {
	text-align: right;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

h4 > header {
	font-style: italic;
}

h3 > section {
	color: #2d3c49;
}

aside {
	display: inline-flex;
}

.big-hr-tag {
	border: solid 2px #7d97ad;
	width: 100%;
}

.udacity-logo {
	align-self: center;
	width: 64px;
	height: 64px;
}

.header-img {
	max-width: 100%;
	height: auto;
}

.header-content {
	display: flex;
	flex-direction: row;
}

.header-item {
	flex-grow: 1;
	flex-shrink: 10;
}

.feature-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.feature-item {
	flex-grow: 1;
	text-align: center;
	color: #2d3c49;
}

@media screen and (max-width: 480px) {
	/*All css for mobile devices defined here*/
	.feature-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.feature-item {
		flex-grow: 1;
		text-align: center;
	}
}


